<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209902319442-5dcvon1d7dfcjmrbek90c80rpg7bln7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209902319442-5dcvon1d7dfcjmrbek90c80rpg7bln7t</string>
	<key>API_KEY</key>
	<string>AIzaSyCc2V6c4XWQzxl2KZvATzMaZ0FS9UfItco</string>
	<key>GCM_SENDER_ID</key>
	<string>209902319442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.test</string>
	<key>PROJECT_ID</key>
	<string>login-spaghetti-e-vongole</string>
	<key>STORAGE_BUCKET</key>
	<string>login-spaghetti-e-vongole.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209902319442:ios:8f125d84c15a295954ac8b</string>
</dict>
</plist>